{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SERES</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css" rel="stylesheet' %}">
  <link href="{% static 'lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#hero" class="scrollto">SERES</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about-us">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#screenshots">Screenshots</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>I Seminário Regional de Sífilis</h1>
      <!-- <h1>II Fórum Piauiense de Hepatite B e HIV/Aids</h1>
      <h1>II Mostra de trabalhos científicos sobre Prevenção e Controle de Infecção</h1>
      <h1>II Reunião da RENAIDST</h1> -->
      <img src="{% static 'img/logo-menor.png' %}" alt="Hero Imgs">
      <!-- <a href="#get-started" class="btn-get-started scrollto">Get Started</a> -->
    </div>
  </section><!-- #hero -->

  <!--==========================
    Get Started Section
  ============================-->
  <section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Sobre o Evento</h2>
        <p class="about">Caros amigos e colegas,</p>
        <p class="about">O Brasil apresenta reemergência da Sífilis e esse fato também amplia os casos
          de outras Infecções Sexualmente Transmissíveis (IST), provocando diferentes
          repercussões sociais e de saúde na vida de pessoas e famílias. Diante disso, a 
          Universidade Federal do Piauí, preocupada com o cenário local e Nacional da
          Sífilis e das IST, promoverá nos dias 29 e 31 de outubro de 2019 o “I Seminário
          Regional de Sífilis” e outros eventos concomitantes, mediado principalmente
          por palestras, conferências e apresentação de trabalhos. Tal evento tem como
          objetivo ampliar discussões sobre Sífilis, Hepatites virais, HIV/aids, Prevenção
          e Controle de Infecção, mediadas por apresentações de atividades de
          pesquisa, ensino e extensão desenvolvidas por pesquisadores, profissionais de
          serviços de saúde, gestores e comunidade acadêmica de diversos locais da
          região nordeste e do País.</p>
        <p class="about">Esperamos que você participe do Seminário e confraternize com profissionais,
          amigos e colegas desfrutando de Teresina, única capital do nordeste que não é
          banhada pelo mar, mas é abraçada por dois rios que promovem agradável
          visual. Que nesse ambiente vocês possam trocar conhecimentos, debater
          opiniões, refletir sobre diferentes atividades acadêmicas e de gestão, além de
          articular ideias criativas, todas com o propósito de eliminar a sífilis e reduzir
          outras infecções, mesmo em tempos de crises, de maior exposição das
          pessoas às condições de vulnerabilidades e de escassez de financiamentos.</p>
        <p class="about">Cordialmente,</p>
        <p class="about">Rosilane de Lima Brito Magalhães.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="feature-block">

            <h4>Quem Somos</h4>
            <p class="about">O Grupo de Estudo Sobre Doenças Infecciosas e outros Agravos-
              GEDI/CNPq/UFPI tem como líder a Profa. Dra. Rosilane de Lima Brito
              Magalhães e missão para desenvolver estudos de pesquisa, extensão e
              ensino relacionados às doenças infecciosas e outros agravos para prevenir e
              promover a saúde de indivíduos, famílias, comunidades, ambientes e grupos
              sociais interagindo com equipe multiprofissional e interinstitucional para
              promover a formação de profissionais. Desde 2015, tem 15 membros em nível
              de graduação, mestrado e doutorado.</p>

          </div>
        </div>

        <div class="col">
          <div class="feature-block">

            <h4>NUPPCIS:</h4>
            <p class="about">Rede de Enfermagem Nacional em Doenças Sexualmente
              Transmissíveis/Aids- RENAIDST tem como líder a profa Dra. Elucir
              (EERP/USP) e missão de Gerar e disseminar conhecimento, a partir de
              avaliações e pesquisas multicêntricas, desenvolvidas nos diversos
              Estados do Brasil, tendo como alvo o profissional enfermeiro(a) e as
              múltiplas dimensões do cuidar em enfermagem.</p>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="feature-block">

            <h4>Comissão Organizadora</h4>
            <ul>
              <li>Profa. Dra. Rosilane de Lima Brito Magalhães (UFPI)</li>    
              <li>Profa. Dra. Maria Eliete Batista Moura (UFPI)</li>
              <li>Profa. Dra. Marli Teresinha Gimeniz Galvão (UFC)</li>    
              <li>Profa. Dra. Elucir Gir (ERRP/USP)</li>    
              <li>Profa. Dra.Andreia Rodrigues Moura da Costa Valle (UFPI)</li>    
              <li>Profa. Dra. Daniela Reis Joaquim de Freitas (UFPI)</li>    
              <li>Profa. Dra. Lissandra Chaves de Sousa Santos (UFPI)</li>    
              <li>Vanessa Moura Carvalho de Oliveira (Doutoranda/UFPI)</li>    
              <li>Matheus Marques de Sousa Carvalho (Mestre/UFPI)</li>    
              <li>Jardel Nascimento Cruz (Mestrando/UFPI)</li>    
              <li>Láise Rebeca Sousa Carvalho (Graduanda em Enfermagem/UFPI)</li>    
              <li>Emanoelle Fernandes Silva (Graduanda em Enfermagem/UFPI)</li>    
              <li>Leonardo de Sousa Ramos (Apoio Técnico/UFPI)</li>
            </ul>

          </div>
        </div>

        <div class="col">
          <div class="feature-block">

            <h4>Comissão Científica</h4>
              <ul>
                <li>Profa. Dra.Andreia Rodrigues Moura da Costa Valle (UFPI)</li>
                <li>Profa. Dra. Daniela Reis Joaquim de Freitas (UFPI)</li>
                <li>Profa. Dra. Lissandra Chaves de Sousa Santos (UFPI)</li>
              </ul>

          </div>
        </div>
      </div>

    </div>

  </section>

  <!--==========================
    About Us Section
  ============================-->
  <!-- <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="{% static 'img/about-img.png' %}" alt="About">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2><span>eStartup</span>UI Design Mobile </h2>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>

            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i>Creative Design</li>
              <li><i class="fa fa-angle-right"></i>Retina Ready</li>
              <li><i class="fa fa-angle-right"></i>Easy to Use</li>
              <li><i class="fa fa-angle-right"></i>Unlimited Features</li>
              <li><i class="fa fa-angle-right"></i>Unlimited Features</li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </section> -->

  <!--==========================
    Pricing Table Section
  ============================-->
  <section id="pricing" class="padd-section text-center wow fadeInUp" style="background-color: #f5f5f5">

    <div class="container">
      <div class="section-title text-center">

        <h2>Inscrições</h2>
        <p class="separator">Increva-se clicando no link abaixo.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        
        <div class="col-md-6 col-lg-4"></div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h4>Padrão</h4>
              <h2>R$50</h2>
              <ul class="list-unstyled">
                <li>Inscrições de <b>01/09 a 10/10</b> Ram</li>
              </ul>
              <div class="table_btn">
                <a href="https://forms.gle/yBfxKDwJ5tDoSkVp8" target="_blank" class="btn">Inscreva-se</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Testimonials Section
  ============================-->

  <section id="testimonials" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="section-title text-center">
        <h2>Submissão de Trabalhos</h2>
      </div>
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <div class="carousel-item  active">
                  <div class="top-top">

                    <h2>Normas para Submissão</h2>
                    <ul>
                      <li>Serão aceitos resumos e trabalhos encaminhados até o dia 26/09/2019, por meio do site do evento e receberão o comunicado de avaliação até dia 20/10/2019 em conformidade com: 
                      </li>
                      <li>Pesquisas; Relatos de experiência; Revisões de Literatura (sistemática, bibliométrica e integrativa); Estudos de Caso e Reflexões. Os trabalhos inscritos serão de inteira responsabilidade dos autores.
                      </li>
                      <li>Os resumos deverão conter de 200 a 250 palavras, abrangendo introdução, objetivo, metodologia, resultados e conclusão, e ainda, apresentar de 3 a 5 Descritores em Ciências da Saúde -DECS, disponível no endereço http://decs.bvs.br.
                      </li>
                      <li>No máximo seis (6) autores, incluindo o/a relator(a), que deverá ser o primeiro autor e deverá indicar o orientador como último autor.
                      </li>
                      <li>Cada autor poderá ser relator de até dois (2) trabalhos.
                      </li>
                      <li>Para o envio dos trabalhos o participante (relator) deverá estar devidamente inscrito no evento.
                      </li>
                      <li>A preferência dos autores pela forma de apresentação, ORAL ou PÔSTER, poderá ser modificada pela Comissão Científica. Os trabalhos que concorrerão à premiação obrigatoriamente serão apresentados na modalidade COMUNICAÇÂO ORAL.
                      </li>
                    </ul>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Modalidade Pôster ou de Comunicação Oral</h2>
                    <ul>
                      <li>Para a modalidade Pôster: Aguardar informações no site até o dia 26/09/2019</li>
                      <li>Para a modalidade comunicação oral, após o aceite do resumo pela comissão científica, o material visual a ser apresentado, deverá ser enviado, em formato Power Point, com no máximo 7 slides, até dia 25/10/2019. O relator terá 10 minutos para a apresentação do trabalho.</li>
                      <li>No momento da inscrição o autor deverá escolher a modalidade de apresentação: oral ou pôster. A comissão terá autonomia para definir a modalidade da apresentação, conforme a qualidade do estudo.</li>
                    </ul>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Modalidade Trabalhos para concorrer à premiação</h2>
                    <ul>
                      <li>Os melhores trabalhos serão premiados nas diversas modalidades. Podem concorrer ao prêmio estudantes e professores/profissionais, devidamente inscritos.</li>
                      <li>
                        Para concorrer aos Prêmios, o autor deverá enviar resumo expandido de pesquisas, relatos de experiência, estudos de caso, revisões (sistemática, bibliométrica e integrativa) e reflexões. Enviar nas normas da revista REPIS (http://www.ojs.ufpi.br/index.php/nupcis).
                      </li>
                      <li>
                        Para participar da modalidade de trabalhos que irão concorrer ao Prêmio, os autores deverão indicar essa modalidade, já na submissão do manuscrito. Caso não ocorra esta manifestação pelos autores, o manuscrito em questão não será aprovado para concorrer à premiação.
                      </li>
                      <li>
                        Cada autor poderá submeter apenas um trabalho para Premiação.
                      </li>
                      <li>
                        Os autores se comprometem a aceitar os critérios de julgamento da comissão julgadora. Em nenhuma situação será aceito interposição de recursos que contestem os resultados.
                      </li>
                      <li>
                        Poderão concorrer à premiação os seguintes tipos de manuscritos: 
                      </li>
                      <ol>
                        <li>
                          Artigos originais: são contribuições destinadas a divulgar resultados de pesquisa original inédita. Deve-se seguir a estrutura convencional, contendo título, resumo, introdução, metodologia, resultados, discussão, conclusões e referências. 
                        </li>
                        <li>
                          Pesquisa envolvendo seres humanos ou animais deverão explicitar o nome do CEP no qual o projeto de pesquisa foi aprovado com o respectivo número de parecer ou protocolo.
                        </li>
                        <li>
                          Relatos de Experiência, Estudos de Caso, Revisões e Reflexões: a estrutura desses trabalhos deve conter: Introdução; Objetivo; Métodos; Resultados; Discussão; Conclusão e Referências. 
                        </li>
                        <li>
                          Os trabalhos premiados serão recomendados para publicação na Revista Prevenção de Infecção e Saúde (REPIS) da Universidade Federal do Piauí (UFPI). Os autores serão convidados para assinar um termo de concordância da publicação. 
                        </li>
                        <li>
                          Os trabalhos inscritos na modalidade PRÊMIO deverão obrigatoriamente ser apresentados em forma de COMUNICAÇÃO ORAL.
                        </li>
                      </ol>
                    </ul>

                  </div>
                </div>

              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Blog Section
  ============================-->
  <section id="blog" class="padd-section wow fadeInUp" style="background-color: #f5f5f5">

    <div class="container">
      <div class="section-title text-center">

        <h2>Programação</h2>
        <p class="separator">De 29 a 31 de Outubro</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <!-- <a href="#"><img src="{% static 'img/blog/blog-image-1.jpg' %}" alt="img"></a> -->
            <div class="content-blog">
              <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
              <span>05, juin 2017</span>
              <!-- <a class="pull-right readmore" href="#">read more</a> -->
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <!-- <a href="#"><img src="{% static 'img/blog/blog-image-2.jpg' %}" class="img-responsive" alt="img"></a> -->
            <div class="content-blog">
              <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
              <span>05, juin 2017</span>
              <!-- <a class="pull-right readmore" href="#">read more</a> -->
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <!-- <a href="#"><img src="{% static 'img/blog/blog-image-3.jpg' %}" class="img-responsive" alt="img"></a> -->
            <div class="content-blog">
              <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
              <span>05, juin 2017</span>
              <!-- <a class="pull-right readmore" href="#">read more</a> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Team Section
  ============================-->
  <section id="team" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Palestrantes e Convidados</h2>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-4 col-lg-3">
          <div class="team-block bottom">
            <img src="{% static 'img/team/1.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

       <div class="col-md-6 col-md-4 col-lg-3">
          <div class="team-block bottom">
            <img src="{% static 'img/team/2.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3">
          <div class="team-block bottom">
            <img src="{% static 'img/team/3.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3">
          <div class="team-block bottom">
            <img src="{% static 'img/team/4.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Newsletter Section
  ============================-->
  <!-- <section id="newsletter" class="newsletter text-center wow fadeInUp">
    <div class="overlay padd-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-6">
            <form class="form-inline" method="POST" action="#">

              <input type="email" class="form-control " placeholder="Email Adress" name="email">
              <button type="submit" class="btn btn-default"><i class="fa fa-location-arrow"></i>Subscribe</button>

            </form>

          </div>
        </div>

          <ul class="list-unstyled">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>


      </div>
    </div>
  </section> -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Contact</h2>
        <p class="separator">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>A108 Adam Street<br>New York, NY 535022</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #contact -->

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">eStartup</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights eStartup. All rights reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/modal-video/js/modal-video.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
